.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container-wrapper {
  flex-grow: 1;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    to right top,
    #2dc0d1,
    #6dccd2,
    #98d8d6,
    #bce3de,
    #deeeea
  );
}
