/* Custom CSS for ChangeItem component */

.nav-link-spacing {
  margin-right: 20px !important;
}

.change-item-container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
}

.square {
  flex: 1;
  width: 100%;
  max-width: 500px;
  height: 400px;
  border: 1px solid black;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 20px;
  position: relative;
}

.square:last-child {
  margin-right: 0;
}

.title {
  margin-bottom: 10px;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}

.slider-container {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 30px 0;
}

.slider-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.custom-prev-arrow {
  left: -30px;
}

.custom-next-arrow {
  right: -30px;
}

.send-request-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 450px;
}

.send-request-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
}

.categories-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.custom-container {
  padding-top: 7rem; /* Adjust the value as needed */
}

.dz-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.dz-details {
  display: flex;
  flex-direction: column;
}

.dz-filename {
  font-size: 14px;
  font-weight: bold;
}

.dz-size {
  font-size: 12px;
  color: #666;
}

.dz-progress {
  position: relative;
  width: 100px;
  height: 10px;
  background-color: #eee;
}

.dz-upload {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #bada55;
}

.dz-success-mark,
.dz-error-mark {
  display: none;
  font-size: 20px;
}

.dz-error-message {
  color: red;
}

.dz-preview.dz-success .dz-success-mark,
.dz-preview.dz-error .dz-error-mark {
  display: inline-block;
}
